* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 1.5px;
}

header {
  position: absolute;
  width: 100%;
  padding: 40px 30px;
}

h2 {
  font-family: 'Comfortaa', cursive;
  font-size: 28px;
  display: block;
  margin-bottom: 60px;
  text-align: center;
}

section {
  padding: 80px;
}

p {
  font-size: 20px;
}

.menu {
  display: inline;
  float: right;
}

.menu-item {
  display: inline;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 18px;
  cursor: pointer;
  font-family: 'Comfortaa', cursive;
  user-select: none;
  padding-bottom: 5px;
}

.menu-item:hover {
  border-bottom: 2px solid white;
}

.menu-item a {
  text-decoration: none;
  color: white;
}

.action-button {
  color: white;
  background-color: #e19923;
  padding: 15px;
  cursor: pointer;
  font-family: 'Comfortaa', cursive;
  user-select: none;
  border-radius: 7px;
  transition: all 0.3s ease-out;
}

.action-button:hover {
  background-color: #fd4007;
  border-bottom: none;
}

#main {
  width: 100%;
  height: 100%;
  background-image: url('../img/main.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -200px;
}


.logo {
  position: absolute;
  left: 150px;
  top: 120px;
  width: 200px;
  user-select: none;
}

.moto {
  position: absolute;
  bottom: 80px;
  left: 20px;
  font-size: 65px;
  letter-spacing: 7px;
  line-height: 65px;
  color: white;
  text-transform: uppercase;
}

.limiter {
  max-width: 800px;
  text-align: center;
  margin: auto;
}

.dark {
  background-color: #313131;
  color: white;
}

.light {
  background-color: #a5a5a5;
  color: #313131;
}

.products-list {
  display: flex;
  justify-content: space-between;
}

.product-item {
  width: 30%;
  height: 300px;
}

.product-item img {
  width: 100%;
  height: 85%;
  object-fit: cover;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.product-item .title {
  font-size: 18px;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: #e2e2e2;
  border-radius: 7px;
  box-shadow: 0 0 5px;
}

.advantages-container {
  display: flex;
  justify-content: center;
}

.advantages-list {
  margin: 0 50px;
}

.advantages-list-item {
  margin-bottom: 20px;
  font-size: 18px;
  text-align: left;
}

.advantages-list-item .material-icons {
  position: relative;
  top: 9px;
  padding: 8px;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 10px;
  font-size: 30px;
}

.form {
  background-color: #cccccc;
  padding: 30px 50px;
  border-radius: 7px;
  box-shadow: 0 0 5px;
  font-family: 'Open Sans Condensed', sans-serif;
  user-select: none;
}

.form-limiter {
  max-width: 500px;
  text-align: center;
  margin: auto;
}

.form-titles {
  margin-bottom: 30px;
  text-align: left;
}

.form-submit-button {
  background-color: #e19923;
  border-radius: 7px;
  padding: 15px;
  font-family: 'Comfortaa', cursive;
  cursor: pointer;
  user-select: none;
  width: 150px;
  height: 50px;
  text-align: center;
  margin: auto;
}

.form-submit-button a {
  text-decoration: none;
  color: white;
}

.form-input {
  border-radius: 10px;
  border: 1px solid #313131;
  width: 400px;
}